$md1: 1440px;
$md2: 1200px;
$md3: 992px;
$md4: 767px;
$md5: 568px;
$md6: 412px;

:root {
    --color-green: #EBF56D;
    --color-darkGreen: #8EB005;
    ;
}

html,
body {
    height: 100%;
    box-sizing: border-box;

}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "CircularStd", "Mulish", serif;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    overflow-x: hidden;

    &.overlay {
        height: 100vh;
        overflow: hidden;
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-wrapper {
    overflow: hidden;
}

.container {
    padding: 0 15px;
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
}

* {
    font-family: inherit;
}

input {
    font-family: 'Montserrat', sans-serif;

    &::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
}

textarea {
    resize: none;
    min-height: 120px;
}


.nav {
    display: flex;

    &__elem {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {}
}

.flex {
    display: flex;

    &>*:not(:last-child) {
        margin-right: 20px;
    }
}

.btn-reset {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;

    &:hover {
        color: var(--color-darkGreen);
    }
}

.btn {
    font-family: inherit;
    padding: 12px 20px 10px;
    background: #000000;
    border-radius: 40px;
    color: #fff;
    border: 2px solid #000;
    cursor: pointer;

    &:hover {
        color: var(--color-darkGreen)
    }

    &_transparent {
        background: #fff;
        color: #000;

        &:hover {
            color: var(--color-darkGreen);
            border-color: var(--color-darkGreen);
        }
    }
}

.text-bg {
    position: relative;

    span {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        background: var(--color-green);
        width: 100%;
        height: calc(100% + 5px);
    }
}

h1.section-title {}

h2.section-title {
    font-size: 36px;
    line-height: 1.5em;
}

h3.section-title {}

h4.section-title {}

section {
    padding: 110px 0 110px;

    @media(max-width:$md4) {
        padding: 50px 0 50px;
    }
}

.bold {
    font-weight: bold;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    @media(max-width:$md3) {
        grid-template-columns: 1fr;
    }
}


.input-block {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &__label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;

        span {
            color: #DE350B;
        }
    }

    label.error {
        position: absolute;
        bottom: -15px;
        font-size: 10px;
        color: red;
    }
}

.input-checkbox {
    .contol-group__text {
        font-size: 12px;
        line-height: 1.5em;
    }
}

input,
select {
    padding: 16px 12px 17px 12px;
    font-family: "CircularStd", "Mulish", serif;
    font-size: 14px;
    background: #FAFBFC;
    border: 2px solid #DFE1E6;
    border-radius: 5px;
    display: block;
    width: 100%;
    outline: none;

    &.filed {
        border-color: #D3DD55;
        background: #fff;
    }

    &.error {
        border-color: #DE350B;
    }

    &:hover,
    &:focus {
        border-color: #D3DD55;
        background: #fff;
    }
}

.error-color {
    color: #FA8D75;
}

textarea {
    padding: 16px 12px 17px 12px;
    font-family: "CircularStd", "Mulish", serif;
    font-size: 14px;
    background: #FAFBFC;
    border: 2px solid #DFE1E6;
    border-radius: 5px;
    display: block;
    width: 100%;
    resize: none;
    min-height: 108px;
    outline: none;

    &.filed {
        border-color: #D3DD55;
        background: #fff;
    }

    &.error {
        border-color: #DE350B;
    }

    &::hover,
    &::focus {
        border-color: #D3DD55;
        background: #fff;
    }
}

.input-date {
    position: relative;

    &__icon {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    input {
        padding-right: 40px;
    }
}

.input-date {
    select {
        appearance: none;
    }
}

.input-withIcon {
    position: relative;

    .input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    input {
        padding-right: 40px;
    }
}
