<section class="banking">
  <div class="container">
    <h2 class="section-title banking__title">Our banking segments</h2>
    <div class="banking__wrapper">
      <div class="banking-item">
        <div class="banking-item__icon">
          <img src="img/icons/img-icon.svg" alt="img-icon">
        </div>
        <div class="banking-item__label">Consumer Lending</div>
        <div class="banking-item__text">
          <ul class="banking-item__list">
            <li>Student Loans</li>
            <li>Loans</li>
            <li>Personal Loans</li>
            <li>Crypto Loans</li>
            <li>Home Improvement Loans</li>
            <li>Medical Loans</li>
          </ul>
        </div>
      </div>
      <div class="banking-item">
        <div class="banking-item__icon">
          <img src="img/icons/percent-icon.svg" alt="percent-icon">
        </div>
        <div class="banking-item__label">Point Of Sale Lending</div>
        <div class="banking-item__text">
          <ul class="banking-item__list">
            <li>Buy Now Pay Later/ “Split Pay”</li>
            <li>Pos Lease</li>
            <li>Pos Financing</li>
            <li>Same-as-cash</li>
          </ul>
        </div>
      </div>
      <div class="banking-item">
        <div class="banking-item__icon">
          <img src="img/icons/basket-icon.svg" alt="basket-icon">
        </div>
        <div class="banking-item__label">Automotive Lending</div>
        <div class="banking-item__text">
          <ul class="banking-item__list">
            <li>Title Loans</li>
            <li>Subprime Auto Loans</li>
            <li>Auto Lease</li>
            <li>Recreational Vehicle Loans</li>
            <li>Mid Prime Auto loans</li>
            <li>Mid Prime Auto Loans</li>
          </ul>
        </div>
      </div>
      <div class="banking-item">
        <div class="banking-item__icon">
          <img src="img/icons/copy-icon.svg" alt="copy-icon">
        </div>
        <div class="banking-item__label">Business to Business Lending</div>
        <div class="banking-item__text">
          <ul class="banking-item__list">
            <li>Invoice financing</li>
            <li>Working Capital</li>
            <li>Refactoring receivables</li>
            <li>SBA</li>
            <li>Small business Loans</li>
            <li>Construction Loans</li>
            <li>Payroll Advance</li>
            <li>Equipment Leases</li>
            <li>Hard Money</li>
          </ul>
        </div>
      </div>
      <div class="banking-item">
        <div class="banking-item__icon">
          <img src="img/icons/card-icon.svg" alt="card-icon">
        </div>
        <div class="banking-item__label">Small Dollar Lending</div>
        <div class="banking-item__text">
          <ul class="banking-item__list">
            <li>Payday Loans</li>
            <li>Tribal</li>
            <li>Title Loans</li>
            <li>Title Loans</li>
            <li>Cash Advance</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
