<section class="build">
  <div class="container">
    <h2 class="build__title section-title">Build your next credit offering in a day</h2>
    <div class="build__text">
      <p>From application to scoring and servicing - Neofin combines it all for you to launch and test a new credit
        product</p>
    </div>
    <div class="build__wrapper">
      <div class="build__item icon-block">
        <div class="icon-block__icon">
          <img src="img/icons/check-icon.svg" alt="check-icon">
        </div>
        <div class="icon-block__content">
          <div class="icon-block__label build__item-label">Complete white-label</div>
          <ul class="build__item-list">
            <li class="build__item-elem">seamless experience without any redirection to other websites</li>
            <li class="build__item-elem">place your own logos and apply custom styles</li>
            <li class="build__item-elem">create any web interface for your online journey with Neofin Site Builder!</li>
          </ul>
        </div>
      </div>
      <div class="build__item icon-block">
        <div class="icon-block__icon">
          <img src="img/icons/star-icon.svg" alt="star-icon">
        </div>
        <div class="icon-block__content">
          <div class="icon-block__label build__item-label">Lightspeed deployment</div>
          <div class="build__item-text">
            <p>Your secured Neofin instance will be ready to use in less than an hour at any of the popular platforms
              like AWS, GCP or Azure.</p>
            <p>Willing to deploy Neofin in your private cloud cluster or on-soil server? No problems, it still takes
              hours to make it work with the help of instance images.</p>
          </div>
        </div>
      </div>
      <div class="build__item icon-block">
        <div class="icon-block__icon">
          <img src="img/icons/paint-icon.svg" alt="paint-icon">
        </div>
        <div class="icon-block__content">
          <div class="icon-block__label build__item-label">Strong lending ecosystem</div>
          <div class="build__item-text">
            <p>Benefit from a set of out-of-the-box integrations with all the needed services for you to launch a new
              lending type:</p>
          </div>
          <ul class="build__item-list">
            <li class="build__item-elem">Leads</li>
            <li class="build__item-elem">Marketing</li>
            <li class="build__item-elem">KYC/KYB</li>
            <li class="build__item-elem">AML</li>
            <li class="build__item-elem">Accounting</li>
            <li class="build__item-elem">Payroll deduction</li>
            <li class="build__item-elem">ACH</li>
            <li class="build__item-elem">Repayments</li>
            <li class="build__item-elem">Messaging</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
