<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left">
        <a href="/" class="header__logo">
          <img src="img/logo.svg" alt="logo">
        </a>
        <nav class="header__menu">
          <ul class="header__list">
            <li class="header__elem active">
              <a href="#" class="header__link">Product</a>
            </li>
            <li class="header__elem">
              <a href="#" class="header__link">Industries</a>
            </li>
            <li class="header__elem">
              <a href="#" class="header__link">Integrations</a>
            </li>
            <li class="header__elem">
              <a href="#" class="header__link">About</a>
            </li>
            <li class="header__elem">
              <a href="#" class="header__link">Contact us</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__right">
        <a class="lang" data-popup="#change-lang" href="#">
          <svg class="">
            <use xlink:href="./img/icons/icons.svg#globe"></use>
          </svg>
          <div class="lang__current">
            <span>United State</span> | <span>English</span>
          </div>
        </a>
        <a class="control-panel__link" href="#">
          <svg class="">
            <use xlink:href="./img/icons/icons.svg#setting"></use>
          </svg>
        </a>
        <div class="header__btns">
          <a href="#" class="header__btn btn">
            Contact us
          </a>
          <button type="button" class="header__btn btn-reset">Login</button>
        </div>
        <div class="header__burger">
          <div class="burger__icon icon-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-mobile">
    <div class="header-mobile__wrapper">
      <div class="header-mobile__btns">
        <a href="#" class="header__btn btn-reset">Login</a>
        <button type="button" class="header-mobile__btn btn">Contact sales</button>
      </div>
    </div>
  </div>
</header>
