<section class="hero hero_product">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title">
          Launch your own cash advance or payroll financing fintech using <span class="text-bg">
            <span>Neofin’s</span>
          </span> lending template

        </h1>
        <div class="hero__text">
          Download complete go to market strategy for EWA fintech startup
          </p>
        </div>
        <div class="hero__handle">
          <div class="input-block hero__handle-input">
            <div class="input-block__label">Email</div>
            <div class="input-block__field">
              <input name="Email" type="text">
            </div>
          </div>
          <div class="hero__handle-btn btn">Download</div>
        </div>
      </div>
      <div class="hero__img">
        <img src="img/hero_laptop.png" alt="banking templates">
        <div class="hero__img-blur blur">
          <img src="img/Eclipse.svg" alt="decor-eclipse">
        </div>
      </div>
    </div>
  </div>
</section>
