<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title">Consumer banking templates for community banks that are ready for digital transformation
        </h1>
        <div class="hero__text">
          <p>Engage your customers to use more your banking products. Grow your portfolio and get higher conversions in
            consumer lending
          </p>
        </div>
        <div class="hero__btns">
          <button class="hero__btn btn">Book a demo</button>
          <button class="hero__btn btn btn_transparent">Start free trial</button>
        </div>
      </div>
      <div class="hero__img">
        <img src="img/hero_img.png" alt="banking templates">
        <div class="hero__img-blur blur">
          <img src="img/Eclipse.svg" alt="decor-eclipse">
        </div>
      </div>
    </div>
  </div>
</section>
