<section class="how">
  <div class="container">
    <h2 class="section-title how__title">How it works</h2>
    <div class="how-scheme">
      <div class="how-scheme__start">
        <div class="how-scheme__item how-scheme__item_start">
          <div class="how-scheme__item-text">Affiliates and lead channels</div>
          <div class="how-scheme__icon how-scheme__icon_1">
            <img src="img/sheme/icon_1.svg" alt="">
          </div>
          <div class="how-scheme__icon how-scheme__icon_2">
            <img src="img/sheme/icon_1.svg" alt="">
          </div>
          <div class="how-scheme__icon how-scheme__icon_3">
            <img src="img/sheme/icon_1.svg" alt="">
          </div>
          <div class="how-scheme__icon how-scheme__icon_4">
            <img src="img/sheme/icon_1.svg" alt="">
          </div>
          <div class="how-scheme__arrow how-scheme__arrow_down">
            <img src="img/sheme/arrow.svg" alt="">
          </div>
        </div>
        <div class="how-scheme__img">
          <img src="img/how_img.png" alt="">
        </div>
      </div>
      <div class="how-scheme__content">
        <div class="how-scheme__left">
          <div class="how-scheme__row">
            <div class="how-scheme__label">
              FRONT END
            </div>
            <div class="how-scheme__item how-scheme__item_first">
              <div class="how-scheme__item-text">Site builder landing pages</div>
              <div class="how-scheme__icon how-scheme__icon_1">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_2">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_3">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_4">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__arrow">
                <img src="img/sheme/arrow.svg" alt="">
              </div>
            </div>
            <div class="how-scheme__item">
              <div class="how-scheme__item-text">Payroll and accounting data</div>
              <div class="how-scheme__icon how-scheme__icon_1">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_2">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_3">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_4">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__arrow">
                <img src="img/sheme/arrow.svg" alt="">
              </div>
            </div>
            <div class="how-scheme__item">
              <div class="how-scheme__item-text">Bank data, cash flow analysis</div>
              <div class="how-scheme__icon how-scheme__icon_1">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_2">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_3">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_4">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__arrow">
                <img src="img/sheme/arrow.svg" alt="">
              </div>
            </div>
            <div class="how-scheme__item how-scheme__item_last">
              <div class="how-scheme__item-text">KYC, liveness, fraud, OCR</div>
              <div class="how-scheme__icon how-scheme__icon_1">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_2">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_3">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_4">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__arrow">
                <img src="img/sheme/arrow.svg" alt="">
              </div>
            </div>
          </div>
          <div class="how-scheme__row">
            <div class="how-scheme__label">
              BACK END
            </div>
            <div class="how-scheme__item how-scheme__item_first">
              <div class="how-scheme__item-text">AML, Credit report, FICO score</div>
              <div class="how-scheme__icon how-scheme__icon_1">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_2">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_3">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_4">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__arrow">
                <img src="img/sheme/arrow.svg" alt="">
              </div>
            </div>
            <div class="how-scheme__item">
              <div class="how-scheme__item-text">Risk policy templates, Social\cash score</div>
              <div class="how-scheme__icon how-scheme__icon_1">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_2">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_3">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_4">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__arrow">
                <img src="img/sheme/arrow.svg" alt="">
              </div>
            </div>
            <div class="how-scheme__item">
              <div class="how-scheme__item-text">Risk policy templates, Social\cash score</div>
              <div class="how-scheme__icon how-scheme__icon_1">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_2">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_3">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_4">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__arrow">
                <img src="img/sheme/arrow.svg" alt="">
              </div>
            </div>
            <div class="how-scheme__item">
              <div class="how-scheme__item-text">CRM, Email, SMS, Messaging, Dialer</div>
              <div class="how-scheme__icon how-scheme__icon_1">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_2">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_3">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__icon how-scheme__icon_4">
                <img src="img/sheme/icon_1.svg" alt="">
              </div>
              <div class="how-scheme__arrow">
                <img src="img/sheme/arrow.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="how-scheme__right">
          <div class="how-scheme__item how-scheme__item_end">
            <div class="how-scheme__item-text">Loan repayment, collection</div>
            <div class="how-scheme__icon how-scheme__icon_1">
              <img src="img/sheme/icon_1.svg" alt="">
            </div>
            <div class="how-scheme__icon how-scheme__icon_2">
              <img src="img/sheme/icon_1.svg" alt="">
            </div>
            <div class="how-scheme__icon how-scheme__icon_3">
              <img src="img/sheme/icon_1.svg" alt="">
            </div>
            <div class="how-scheme__icon how-scheme__icon_4">
              <img src="img/sheme/icon_1.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
