<section class="release">
  <div class="container">
    <h2 class="release__title section-title">
      Release the power of loans
    </h2>
    <div class="release__wrapper grid-wrapper">
      <div class="release-item icon-block">
        <div class="icon-block__icon">
          <img src="img/icons/resize-icon.svg" alt="resize-icon">
        </div>
        <div class="icon-block__content">
          <div class="icon-block__label build__item-label">Break the limits</div>
          <div class="release-item__text">
            <p>Set yourself free of technology limitations switching to a no-code platform. All of the changes will be
              delivered to your borrowers in a few clicks.
            </p>
          </div>
        </div>
      </div>
      <div class="release-item icon-block">
        <div class="icon-block__icon">
          <img src="img/icons/star_1-icon.svg" alt="star-icon">
        </div>
        <div class="icon-block__content">
          <div class="icon-block__label build__item-label">Meet client expectations</div>
          <div class="release-item__text">
            <p>Clients are always attracted by great experiences even more than with great commercials. Bring your
              borrowers experience to the next level and <span class="bold">get popular at any local community</span>
            </p>
          </div>
        </div>
      </div>
      <div class="release-item icon-block">
        <div class="icon-block__icon">
          <img src="img/icons/basket-icon.svg" alt="basket-icon">
        </div>
        <div class="icon-block__content">
          <div class="icon-block__label build__item-label">Corner the market</div>
          <div class="release-item__text">
            <p>Become a main one-stop-shop financial marketplace for clients in your community. Let your bank’s brand
              associate with financial services for any purpose from life event loan to personal installment for the
              next big idea.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
