<section class="whom">
  <div class="container">
    <h2 class="whom__title section-title">Whom do we serve</h2>
    <div class="whom__wrapper grid-wrapper">
      <div class="whom-item">
        <div class="whom-item__header">
          <div class="icon-block__icon">
            <img src="img/icons/img-icon.svg" alt="img-icon">
          </div>
          <div class="whom-item__label">Chief Operations Officer</div>
        </div>
        <div class="whom-item__text">
          <p><b>Improve your lending business KPI’s</b> in the first month after the launch of Neofin. </p>
          <p><b>Always meet your deadlines</b> in the launch of new loan products and sales channels.</p>
        </div>
      </div>
      <div class="whom-item">
        <div class="whom-item__header">
          <div class="icon-block__icon">
            <img src="img/icons/check-icon.svg" alt="check-icon">
          </div>
          <div class="whom-item__label">Chief Lending Officer</div>
        </div>
        <div class="whom-item__text">
          <p>Lending market becomes highly competitive and the price of leads growth. 
          </p>
          <p><b>Open new opportunities to improve</b> your loan portfolio with an agile tool that doesn’t require a team
            to support.</p>
        </div>
      </div>
      <div class="whom-item">
        <div class="whom-item__header">
          <div class="icon-block__icon">
            <img src="img/icons/star-icon.svg" alt="star-icon">
          </div>
          <div class="whom-item__label">Chief Digital\Innovation Officer</div>
        </div>
        <div class="whom-item__text">
          <p><b>Switch manual processes into seamless digital journeys</b></p>
          <p>Increase lifetime value of your clients  with new options of onboarding to loan products.</p>
        </div>
      </div>
    </div>
  </div>
</section>
